# Ignorer les fichiers système
*.iml
.DS_Store
Thumbs.db

# Ignorer les fichiers et dossiers spécifiques à Android Studio
.gradle/
local.properties
/.idea/
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Ignorer les fichiers générés
/build/
/app/build/
/captures/
/externalNativeBuild/
/.cxx/
